// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) { 
    
    .header-colored{
        color: #4895EF;
    }
    .project-header{
        font-weight: bold;
        font-size:3em;
    }
    .project-subheader{
        font-weight: bold;
        margin-top: 3em;
    }
    .project-overview{
        color: #A6ACC9;
    }
    .overview-row{
        margin-top: 5em
    }
    body{
        background-image: url(/assets/square_background.svg); 
        background-repeat: no-repeat; 
        background-position-y: -20em;
        background-position-x: -40em;
        
    }
    .profile-pic-round{
        width: 100%; 
        padding: 4em;
        height: auto;
        margin-top: 5em;
        margin-left: 0em;
    }
    .content-column{
        text-align: center;
        justify-content: center;
    }
    .section-divider{
        width: 5em;
        height: auto;
        margin-left: 0em;
    }
    .body-text{
        margin-top: 3em;
        color: #8e93ad;
    }
  
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    .project-header{
        font-size: 3.5em;
    }
    .code-cvg-img{
        width: 120%;
    }
    
    body{
        background-image: url(/assets/square_background.svg); 
        background-repeat: no-repeat; 
        background-position-y: 0em;
        background-position-x: -30em;
    }
    .content-column{
        text-align: left;
        justify-content: center;
    }
    .profile-pic-round{
        width: 20em; 
        height: auto;
        margin-top: 5em;
        margin-left: -5em;
        padding: 0em;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
   .project-header{
       font-size: 4em;
       margin-left: 0em;
   }
   .project-subheader{
       margin-top: 0em;
   }
   body{
    background-image: url(/assets/square_background.svg); 
    background-repeat: no-repeat; 
    background-position-y: 0em;
    background-position-x: -15em;
    }
    .profile-pic-round{
        width: 25em; 
        height: auto;
        margin-top: 5em;
        margin-left: -3em;
    }
    .section-divider{
        width: 5em;
        height: auto;
        margin-left: 0em;
    }
    .body-text{
        margin-top: 3em;
        color: #8e93ad;
    }
}

