// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) { 
    .header-colored{
        color: #560BAD;
    }
    .project-header{
        font-weight: bold;
        font-size:3em;
    }
    .project-subheader{
        font-weight: bold;
        margin-top: 3em;
    }
    .project-overview{
        color: #A6ACC9;
        margin-top: 2em;
    }
    .overview-row{
        margin-top: 5em
    }
    .view-site-btn{
        margin-left: 4em;
        margin-top: 5em;
        background: linear-gradient(171deg, rgba(71,101,235,1) 0%, rgba(58,12,163,1) 100%);
      }
      .view-site-btn:hover{
        background: linear-gradient(171deg, rgba(71,101,235,1) 42%, rgba(58,12,163,1) 100%);
      }
    
    .design-row{
        margin-top: 5em;
    }
    .development-row{
        margin-top: 10em;
    }
   
    .final-section{
        margin-top: 3em;
        margin-bottom: 5em;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    .project-header{
        font-size: 3.5em;
    }
    .code-cvg-img{
        width: 120%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
   .project-header{
       font-size: 4em;
   }
   .project-subheader{
       margin-top: 0em;
   }
   
   .final-section{
       margin-top: 10em;
       margin-bottom: 0em;
   }
}

